@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+10&family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


root {
  --init: 0.5rem;
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: grid;
  place-items: center;
}

.d-flex {
  display: flex;
}

header button {
  cursor: pointer;
  font-family: inherit;
  font-size: calc(var(--init) * 2);
  border-radius: calc(var(--init) * 2);
  padding: calc(var(--init) * 1.5) calc(var(--init) * 3.5);
  -webkit-tap-highlight-color: transparent;
  width: fit-content;
  outline: none;
  border: none;
}

